<div class="contact-form">

	<form method="post" action="{{ site.data.settings.contact_settings.form_action }}" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">

		<div class="contact-form__item">
			<label class="contact-form__label">Email Address *</label>
			<input type="text" name="EMAIL" placeholder="Your email address..." class="contact-form__input" id="mce-EMAIL">
		</div>

		<div class="contact-form__item">
			<label class="contact-form__label">Name *</label>
			<input type="text" name="NAME" placeholder="Your name..." class="contact-form__input" id="mce-NAME">
		</div>

		<div class="contact-form__item">
			<label class="contact-form__label">Message (optional)</label>
			<textarea name="MESSAGE" placeholder="Your message..." class="contact-form__textarea" id="mce-MESSAGE"></textarea>
		</div>

		<input type="hidden" name="_next" value="{{ site.data.settings.contact_settings.confirmation_url }}" />
		<input type="hidden" name="_subject" value="{{ site.data.settings.contact_settings.email_subject }}" />
		<input type="text" name="_gotcha" style="display: none;" class="contact-form__gotcha" val="">

		<div class="contact-form__item">
			<input type="submit" value="{{ site.data.settings.contact_settings.send_button_text }}" class="button button--large">
		</div>
		<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2999b5cece1fa6ee3e6af9a37_3addec2a8e" tabindex="-1" value=""></div>
	</form>

</div>
