.my {
    padding-top: 2rem;
    a {
        border: none;
        margin-right: 1rem;

        &:hover {
            border: none;
        }
    }
}

.pfp {
    img {
        border-radius: 35%;
        max-width: 20%;
        max-height: 20%;
    }
}